<div class="listings-container">
  <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

  <div class="listings-grid">
    <div *ngFor="let car of cars" class="listing-item">
      <h3>{{ car.make }} {{ car.model }}</h3>
      <p>Year: {{ car.year }}</p>
      <p>Price Per Day: ${{ car.pricePerDay }}</p>
      <p>Color: {{ car.colour }}</p>
      <p>Price per Day: ${{ car.pricePerDay }}</p>
      <div *ngIf="authService.getToken()">
        <button (click)="passCarId(car.carId)">Reserve Now</button>
      </div>
      <p *ngIf="car.availability">Available</p>
      <p *ngIf="!car.availability" style="color: red;">Not Available</p>
    </div>
  </div>
</div>
