<h2>Reserve Car</h2>
  <form [formGroup]="reservationForm" (ngSubmit)="onSubmit()">

    <div *ngFor="let car of cars" class="car-card">
      <h3>{{ car.make }} {{ car.model }} ({{ car.year }})</h3>
      <p>Color: {{ car.colour }}</p>
      <p>Price per Day: ${{ car.pricePerDay }}</p>
    </div>
    
    <div class="form-group">
      <label for="startDate">Start Date:</label>
      <input type="date" id="startDate" name="startDate" value="2025-03-14" min="2025-03-14" />
    </div>
    <br/>

    <div class="form-group">
        <label for="endDate">End Date:</label>
        <input type="date" id="endDate" name="endDate" value="2025-03-14" min="2025-03-14" />
    </div>
    <br/>

    <button type="submit">Sign Up</button>
    <br/>
    <br/>
    <button class="back-btn" (click)="goBack()">Back to Listings</button>
  </form>

  