

  .contact-container li {
    padding-left: 0;
    position: relative;
    margin-bottom: 12px;
    font-size: 1.05rem;
  }

@media (max-width: 768px) {
  .contact-container {
    padding: 40px 20px;
  }

    .contact-container h1 {
      font-size: 2rem;
    }

    .contact-container h2 {
      font-size: 1.3rem;
    }

    .contact-container p,
    .contact-container li {
      font-size: 1rem;
    }
}
