<div class="listings-container">

  <div class="listings-grid">
    <h3>Reservations:</h3>
    <div *ngIf="reservations.length == 0">
      <p>No reservations made. Go to <a href="/listings">car listings</a></p>
    </div>
    <div *ngIf="reservations.length != 0">
      <div *ngFor="let Reservation of reservations" class="listing-item">
        <div *ngFor="let Car of cars" class="listing-item">
          <div *ngIf="Car.carId == Reservation.carId">
            <p><b>Car: </b> {{Car.make}} {{Car.model}}</p>
          </div>
        </div>
        <p><b>Start Date:</b> {{ Reservation.startDate.toString().split('T')[0] }} <b>Start Time: </b>{{ Reservation.startDate.toString().split('T')[1] }}</p>
        <p><b>End Date:</b> {{ Reservation.endDate.toString().split('T')[0] }} <b>End Time: </b>{{ Reservation.startDate.toString().split('T')[1] }}</p>
        <button (click)="removeReservations(Reservation.reservationId)">Remove Reservation</button>
      </div>
    </div>
  </div>
  <div *ngIf="reservations.length != 0">  
    <br/>
    <br/>
    <h3>Payment Information</h3>
    <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
      
      <div class="form-group">
        <label for="cardNumber">Card Number: </label>
        <input type="number" id="cardNumber" formControlName="cardNumber" minlength="16" maxlength="16"/>
        <p class="error" *ngIf="paymentForm.get('cardNumber')?.invalid && paymentForm.get('cardNumber')?.touched">
          Card number is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="month">Month: </label>
        <input type="number" id="month" formControlName="month" min="01" max="12" minlength="2" maxlength="2"/>
        <p class="error" *ngIf="paymentForm.get('month')?.invalid && paymentForm.get('month')?.touched">
          Card expiration month is required in format MM
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="year">Year: </label>
        <input type="number" id="year" formControlName="year" min="2025" minlength="4" maxlength="4"/>
        <p class="error" *ngIf="paymentForm.get('year')?.invalid && paymentForm.get('year')?.touched">
          Card expiration year is required in format YYYY
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="cvv">CVV: </label>
        <input type="number" id="cvv" formControlName="cvv" min="000" max="999" minlength="3" maxlength="3"/>
        <p class="error" *ngIf="paymentForm.get('cvv')?.invalid && paymentForm.get('cvv')?.touched">
          Card CVV is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="firstName">First name: </label>
        <input type="text" id="firstName" formControlName="firstName" maxlength="15"/>
        <p class="error" *ngIf="paymentForm.get('firstName')?.invalid && paymentForm.get('firstName')?.touched">
          First name is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="lastName">Last name: </label>
        <input type="text" id="lastName" formControlName="lastName" maxlength="15"/>
        <p class="error" *ngIf="paymentForm.get('lastName')?.invalid && paymentForm.get('lastName')?.touched">
          Last name is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="country">Country: </label>
        <input type="text" id="country" formControlName="country" maxlength="40"/>
        <p class="error" *ngIf="paymentForm.get('country')?.invalid && paymentForm.get('country')?.touched">
          Country is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="city">City: </label>
        <input type="text" id="city" formControlName="city" maxlength="50"/>
        <p class="error" *ngIf="paymentForm.get('city')?.invalid && paymentForm.get('city')?.touched">
          City is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="zipcode">Zipcode: </label>
        <input type="text" id="zipcode" formControlName="zipcode" minlength="6" maxlength="6"/>
        <p class="error" *ngIf="paymentForm.get('zipcode')?.invalid && paymentForm.get('zipcode')?.touched">
          Zipcode is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="email">Email: </label>
        <input type="email" id="email" formControlName="email" minlength="12" maxlength="50"/>
        <p class="error" *ngIf="paymentForm.get('email')?.invalid && paymentForm.get('email')?.touched">
          Email is required
        </p>
      </div>
      <br/>
  
      <div class="form-group">
        <label for="tel">Telephone: </label>
        <input type="tel" id="tel" formControlName="tel"/>
        <p class="error" *ngIf="paymentForm.get('tel')?.invalid && paymentForm.get('tel')?.touched">
          Telephone number is required
        </p>
      </div>
      <br/>

      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>

      <button type="submit">Purchase</button>
    </form>
  </div>
</div>